.env
backend/heka/__pycache__/
backend/heka/users/migrations/
backend/heka/heka/settings.py
backend/heka/posts/migrations/
users/migrations
posts/migrations
!**/__pycache__/
.idea
backend/heka/venv/
__pycache__/
practice_app/
docker-compose
Dockerfile