{% extends "post/base.html" %}
{% block content %}
    {% if weather.city %}
    <div class="column is-offset-4 is-4">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-100x100">
                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title">{{ weather.city }}</span>
                            <br>
                            <span class="subtitle">{{ weather.temperature }}° F</span>
                            <br> {{ weather.description }}
                            <br> {{ weather.wind_speed }} kmph
                        </p>
                    </div>
                </div>
            </article>
        </div>

    </div>
     {%else%}

        WRONG INPUT PLEASE TRY AGAIN !
    {%endif%}
{% endblock content %}