{% extends "post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
                <form method="POST" action={% url 'city-data' %}  >
                        {% csrf_token %}
                        <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Enter a city name</legend>
                                {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                                <button class="btn btn-outline-info" type="submit" >Search</button>
                        </div>
                </form>
        </div>


{% endblock content %}
