@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
body{
  font-family: "Franklin Gothic Medium";
  background: linear-gradient(160deg, rgb(196, 76, 7) 0%,     rgb(87, 38, 202) 90%);
  
}

html{
  font-size: 100%;
}



.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }






.FormRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  max-width: 100%;
  
}

.FormRow input{
  width: 85%;
  box-sizing:border-box;
	border: none;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  box-shadow: inset  rgba(187, 187, 187, 0);
  transition: box-shadow  ease-out;
  
}

#LoginForm{
  
    width: 30%;
    height: 50%;
    margin: 55px auto;
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    background-color: #fafafa;
    border-radius: 30px;
  }

.FormRow input:focus{
   box-shadow: inset 0px -3px 0px 0px  rgb(88, 4, 192) ;
   /*rgba(35, 3, 141, 0.7)*/
   
   outline: none;
}



.FormRow label{
  align-self: start;
  padding-left: 2rem;
  padding-bottom: 0.7rem;
  color: rgba(24, 21, 21, 0.9);
}


#headerTitle{
    text-align: center;
    font-family: 'Monospace';
    padding: 2rem;
    margin: 0;
    font-size: 3rem;
    padding-bottom: 0;
  }

.FormRow button{
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(88, 4, 192);
  width: 80%;
  height: 50px;
  border: 0px;
  
}

.FormRow button:hover{
  opacity: 0.7;
}

#button{
  padding-bottom: 1.5rem;
}



.Link {
    margin-top: 2em;
    color:  rgb(88, 4, 192);
}
#Registered {
   text-align: center;
   padding-top: 1rem;
   margin-top: 1.5rem;
   padding-bottom: 2rem;
   margin-bottom: 0;
   
}

.FormRow input::-webkit-input-placeholder{
    opacity: 2;
    transition: opacity 0.25s ease-out;
  }
  
  .row input:hover::-webkit-input-placeholder,
  .row input:focus::-webkit-input-placeholder{
    opacity: 0;
  }


