@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.home-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  justify-content: center;
  width: 70%;
  height: 100%;
  float: left;
  font-family: 'Abel', sans-serif;
}
.welcome-text {
  margin-top: 5vh;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-family: 'Abel', sans-serif;
}
.general-homepage-container {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Vibur', cursive;
  font-family: 'Abel', sans-serif;
  opacity: 0.95;
  font-size: 100%;
  background-size: cover;
  display: flex;
  width: 18%;
  margin-left: 80%;
  min-height: 89vh;
  margin-top: 12rem;
  overflow: auto;
}
.home-page-con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content:flex-start;

  -webkit-flex-wrap: wrap;
  

  margin: 0 auto;
  flex-direction: column;
  
}
.head-form {
  text-align: center;
}
#Registered1 {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}



@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
