.sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #252537;

  width: 240px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;
  background: #fff;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;
}

.sign-up-button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

.sign-up-button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}


.tab-text {
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}
.input-item-diploma {
  background: #fff;
  color: #333;
  border-radius: 0px 5px 5px 0px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  padding: 15px;
}
