<div class="center">
    <form id="postform" class="form-group" method="POST" action="{%url 'bmi_calculator' %}">
            {%csrf_token%}
            <br>
            <label>BMI Calculator:</label>
            <br>
            <input type="text" name="height" placeholder="height" required>
            <input type="text" name="weight" placeholder="weight" required>

            <input type="submit" name="submit" value="Calculate">
            <br>

         <h5>{{bmi}}</h5>
            
    </form>
</div>