{% extends "post/base.html" %}
{% block content %}
<div class="center">
    <form id="postform" class="form-group" method="POST" action="{%url 'life_expectancy' %}">
            {%csrf_token%}
            <br>
        <h2> <label>Life expectancy at birth:</label> </h2>
        <label>Choose a country from the list and write in the box. Write 'ALL' in order to view all countries.</label>
            <br>
        <select >
                {%for i in countries%}
                    <option value=””>{{ i }}</option>
                    <br>
                {% endfor %}

            </select>
        <br>
            <input type="text" name="keyword" placeholder="Country" required>
            <input type="submit" name="submit" value="Submit">
            <br>

    <br>

    <table style="width:100%">
  <tr>
    <th scope="col">Country</th>
    <th scope="col">Time</th>
          <th scope="col">Sex</th>
    <th scope="col">Value</th>
  </tr>
  <tr>
    {% for i in response %}
				<tr>
					<td>{{ i.SpatialDim }}</td>
					<td>{{ i.TimeDim }}</td>
                    <td>{{ i.Dim1 }}</td>
					<td>{{ i.Value }}</td>
				</tr>
			{% endfor %}
  </tr>

</table>
    </form>
</div>
{% endblock content %}
